.body{
    font-family: Arial, sans-serif;
    background-color: #ac2525;
    margin: 0;
    padding: 0;

}
.form{
    background-color: rgb(24, 119, 106);
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(196, 216, 223);
    grid-auto-flow: column;
    gap: 10px;
    right: 20px;
}